* {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

body{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: rgb(66, 67, 67);
	color: white;
	height: 100vh;
}

header{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 10vh;
	width: 100%;
	background-color: #0b0404;
}

main{
	width: 95%;
}

#myCanvas {
	/* background: rgb(55, 54, 54); */
	display: block;
	height: 90vh;
	margin-top: 5vh;
	max-width: 100vw;
}

.alert {
	padding: 15px;
	color: white;
	opacity: 1;
	transition: opacity 0.6s;
	position: absolute;
	left:0;
	right: 0;
	top: -40%;
	text-align: center;
	margin: 0 auto;
	max-width: 40vw;
	border-radius: 5px;
}

.alert.failure, .alert.failure strong {
	background-color: #d04b42;
}

.alert.success, .alert.success strong {
	background-color: #2a9b71;
}

.close {
	border-radius: 6px;
	display: block;
	/* margin-left: 10px; */
	background-color: transparent;
	border: thin solid white;
	color: white;
	padding: 5px 15px;
	font-size: 16px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	cursor: pointer;
}

#successBtn:hover {
	background-color: white;
	color: #2a9b71;
}

#failureBtn:hover {
	background-color: white;
	color: #d04b42;
}

  @media screen and (max-width: 850px) {
	.row.primary {
	  grid-template-columns: 1fr;
	}
  
  } 